.contacts-main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    flex: 1
}

.page-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.contact-details {
    font-size: 18px;
    color: var(--primary-text);
    line-height: 1.5;
    margin-bottom: 40px;
}

.contact-details h2 {
    font-size: 28px;
    color: var(--accent-text);
    margin-bottom: 20px;
}

.contact-details ul {
    list-style: none;
    padding: 0;
}

.contact-details li {
    margin-bottom: 10px;
}

.contact-details a {
    color: var(--accent-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: var(--primary-text);
}

.contact-form-section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-section h2 {
    font-size: 28px;
    color: var(--accent-text);
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 640px;
    row-gap: 20px;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-border);
    font-size: 16px;
    color: var(--primary-text);
    box-sizing: border-box;
}

.form-textarea {
    height: 150px;
    resize: vertical;
}

.form-button {
    background-color: var(--accent-text);
    color: var(--primary-background);
    padding: 15px 0;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    margin: 20px auto;
    transition: background-color 0.1s;
}

.form-button:hover {
    background-color: var(--primary-text);
}

.map-section {
    margin-top: 40px;
}

.map-section h2 {
    font-size: 28px;
    color: var(--accent-text);
    text-align: center;
    margin-bottom: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}

iframe {
    border: none;
    border-radius: 8px;
    width: 100%;
    width: 1000px;
    height: 600px;
}
